{% extends 'food/base.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <label for="">Product Code : </label><br>
    {{ form.prod_code }}
    <br><label for="">For User : </label><br>
    {{ form.for_user }}
    <br><label for="">Item Name : </label><br>
    {{ form.item_name }}
    <br><label for="">Item Description : </label><br>
    {{ form.item_desc }}
    <br><label for="">Item Price : </label><br>
    {{ form.item_price }}
    <br><label for="">Item Image : </label><br>
    {{ form.item_image }}
    <button type="submit">Save</button>
</form>
{% endblock %}